main.css
h1{
font-size: 150%; 
padding-top: .5ems;
 padding-bottom: .25ems;
 margin-top: 0; 
Margin-bottom:0;
}
article {
padding-top: .5ems;
 padding-bottom: .5ems;
 border-top: 2px;
 border-bottom: 2px; color: #800000;
}
article img {
float: right;
 margin-top: 1px; 
margin-bottom: 1px;
 margin-left: 1px; 
border: 1px solid black;
}
article h2{
padding-top: 0;
}
article h3 {
size: 105%;
}
